version: 2
jobs:
  build:
    docker:
      - image: 'circleci/node:latest'
    steps:
      - checkout

      - run:
          name: "Change working directory"
          command: cd packages/library

      - run:
          name: install
          command: yarn

      - run:
          name: lint
          command: yarn lint

      - run:
          name: test
          command: yarn test
      - run:
          name: release
          command: npm run semantic-release || true
